.container__about {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.section__about {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff5f6;
  background-image: url(../images/tel/sectionbg-tel-1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  max-width: 100%;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/tel/sectionbg-tel-2x.png);
  }
  @media screen and(min-width:768px) {
    background-image: none;
  }
  @media screen and(min-width:1200px) {
    background-image: url(../images/desk/sectionbg1-desk-1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
  }
}
.about__label {
  color: #ffa5ba;
  font-family: 'Titan One';
  font-style: normal;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  width: 198px;
  height: 21px;
  @media screen and(min-width:768px) {
    font-size: 26px;
    line-height: 1.15;
    width: 285px;
    height: 30px;
  }
  @media screen and(min-width:1200px) {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 351px;
    height: 34px;
  }
}
.about__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 125px;
}
.about__title {
  display: inline-block;
  color: #d41443;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  height: 76px;
  margin: 15px 0 26px 0;
  @media screen and(min-width:768px) {
    font-size: 48px;
    line-height: 1.14;
    width: 429px;
    height: 55px;
    margin: 16px 0 0 0;
  }
  @media screen and(min-width:1200px) {
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    width: 534px;
    height: 66px;
    margin: 15px 0 0 0;
  }
}
.about__main {
  padding-bottom: 34px;
  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
    padding-bottom: 66px;
  }
  @media screen and(min-width:1200px) {
    padding-bottom: 146px;
  }
}
.about__picture {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  @media screen and(min-width:1200px) {
    margin-top: 55px;
  }
}
.composition {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  text-align: left;
  margin: 46px 50px 47px 50px;
  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 1.78;
    width: 340px;
    height: 79px;
    margin: 0 36px 49px 17px;
  }
  @media screen and(min-width:1200px) {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #000000;
    width: 463px;
    height: 79px;
    margin: 0 36px 49px 0;
  }
}
.cooking {
  color: #907e82;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  text-align: left;
  margin: 0 50px 47px 50px;
  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 1.78;
    margin: 49px 36px 62px 17px;
    width: 340px;
    height: 155px;
  }
  @media screen and(min-width:1200px) {
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;
    color: #907e82;
    margin-top: 35px;
    margin-bottom: 45px;
    width: 463px;
    height: 155px;
    margin: 49px 36px 62px 0;
  }
}
.about__button {
  display: block;
  font-family: 'DM Sans';
  height: 44px;
  width: 176px;
  background-color: #fff;
  color: #d41443;
  cursor: pointer;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  margin-left: 50px;
  @media screen and(min-width:768px) {
    margin-left: 0;
  }
  @media screen and(min-width:1200px) {
    margin-left: 75px;
    margin-top: 45px;
  }
  &:hover,
  &:focus {
    background: linear-gradient(270deg, #9ae87d, #eaa9df, #1feada, #d3ea1f);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    -o-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
  }
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-o-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
.about__composition {
  // background-image: url(../images/tel/sectionbg-tel-1x.png);
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: bottom;
  // max-width: 100%;
  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   background-image: url(../images/tel/sectionbg-tel-2x.png);
  // }
  @media screen and(min-width:768px) {
    background-image: none;
    margin-top: 100px;
    @media screen and(min-width:1200px) {
      margin-left: 74px;
      margin-top: 106px;
    }
  }
}
.backdrop {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 229, 235, 0.466);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.about__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 500px;
  border-radius: 24px;
  @media screen and(max-width:320px) {
    width: 100vw;
    height: 100vh;
  }
  @media screen and (min-width: 768px) {
    height: 450px;
    width: 500px;
  }
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  & {
    background: linear-gradient(270deg, #e5f3f0, #c9e8be);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    -o-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
  }
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-o-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
.about__modal--title {
  color: #fff;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  @media screen and(min-width:768px) {
    font-size: 34px;
    line-height: 1.14;
  }
}
.about__modal--text {
  color: #ffa5ba;
  font-family: 'Titan One';
  font-style: normal;
  font-size: 15px;
  line-height: 1.13;
  text-align: left;
  text-transform: uppercase;
  padding: 15px 15px 20px 15px;
  @media screen and(min-width:768px) {
    font-size: 18px;
    line-height: 1.16;
  }
}
.about__modal--close {
  font-family: 'Titan One';
  height: 44px;
  width: 176px;
  background-color: #fff;
  color: #ffa5ba;
  cursor: pointer;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  &:hover,
  &:focus {
    background-color: rgb(194, 235, 203);
    color: #fff;
  }
}
.about__modal--picture {
  margin-top: 5px;
  display: inline-block;
}
