.slider__section {
  margin-bottom: 132px;
}
.slider__container {
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 320px) and (max-width: 771px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (min-width: 772px) and (max-width: 1280px) {
    padding-left: 74px;
    padding-right: 74px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 177px;
    padding-right: 177px;
  }
}

.slider__list {
  list-style: none;
}
.slider__item {
  width: 180px;
  margin-right: auto;
  margin-left: auto;
}

.slider__item--box {
  width: 85px;
  height: 85px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 29px;
  border-radius: 44px;
}
.slider__box--first {
  background-image: url(../images/general/testimonials--first--320.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider__box--second {
  background-image: url(../images/general/testimonials--second--320.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider__box--third {
  background-image: url(../images/general/testimonials--third--320.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .slider__box--first {
    background-image: url(../images/general/testimonials--first--640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .slider__box--second {
    background-image: url(../images/general/testimonials--second--640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .slider__box--third {
    background-image: url(../images/general/testimonials--third--640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 3dppx),
  screen and (min-resolution: 288dpi) {
  .slider__box--first {
    background-image: url(../images/general/testimonials--first--960.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .slider__box--second {
    background-image: url(../images/general/testimonials--second--960.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .slider__box--third {
    background-image: url(../images/general/testimonials--third--960.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.slider__label {
  position: relative;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  color: #000000;
  background-image: linear-gradient(
    0deg,
    #e1e1e1 1.61%,
    transparent 0,
    transparent 50%,
    #e1e1e1 0,
    #e1e1e1 51.61%,
    transparent 0,
    transparent
  );
  background-size: 62px 62px;
  font-family: DM Sans;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.04em;
  @media screen and (min-width: 320px) and (max-width: 771px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 2.58333;
    width: 157px;
    margin-bottom: 56px;
  }
  @media screen and (min-width: 772px) and (max-width: 1280px) {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 216%;
    width: 460px;
    margin-bottom: 58px;
  }
  @media screen and (min-width: 1280px) {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    width: 750px;
    margin-bottom: 54px;
  }

  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    display: block;
    left: -30px;
    width: 54px;
    height: 40px;
    background-image: url(../images/svg/icon-quote.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
}
.slider__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-family: DM Sans;
  font-style: normal;
  text-align: center;
  color: #000000;

  @media screen and (min-width: 320px) and (max-width: 771px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
  }
  @media screen and (min-width: 772px) and (max-width: 1280px) {
    font-size: 16px;
    line-height: 186%;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 186%;
  }

  z-index: 1;
  &::before {
    content: '';
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    @media screen and (min-width: 320px) and (max-width: 771px) {
      margin-bottom: 18px;
    }
    width: 32px;
    height: 4px;
    background-image: url(../images/svg/icon-points.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.slider__list--btn ul .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0 !important;
  & > span {
    width: 12px !important;
    height: 12px !important;
  }
}
.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  background-image: url(../images/svg/icon-home.svg) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 13px !important;
  height: 13px !important;
  border-radius: 0 !important;
}
@media screen and (min-width: 1280px) {
  .slider__label {
    background-color: #fafafa;
  }
}
