.container {
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  background-color: #fff5f6;
}

.footer__title-container {
  max-width: 234px;
}

@include tab {
  .footer__title-container {
    max-width: 340px;
  }
}

@include desk {
  .footer__title-container {
    max-width: max-content;
  }
}

.footer__title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffa5ba;

  @include tab {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }

  @include desk {
    font-size: 30px;
    line-height: 1.13;
  }
}

.footer__accent-title {
  display: block;

  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: $brand-color;

  margin-top: 16px;

  @include tab {
    font-size: 48px;
    letter-spacing: 0.06em;
  }

  @include desk {
    font-size: 58px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .footer__contacts-container,
  .footer__title-container {
    margin-bottom: 43px;
  }
}

@include tab {
  .container {
    padding-left: 36px;
    padding-right: 36px;
  }

  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 90px;
  }
}

@include desk {
  .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 115px;
    padding-right: 115px;
  }

  .footer__container {
    margin-bottom: 100px;
  }
}

.networks {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;

  margin-bottom: 46px;

  @include desk {
    margin-bottom: 50px;
  }
}

.networks__item:not(:last-child) {
  margin-right: 28px;

  @include tab {
    margin-right: 30px;
  }

  @include desk {
    margin-right: 24px;
  }
}

.networks__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  background-color: #fea5bb;
  border-radius: 50%;

  @include tab {
    width: 34px;
    height: 34px;
  }
}

.networks__link:hover {
  background-color: $brand-color;
}
.networks__icon {
  fill: #ffffff;
}
.networks__icon--github {
  width: 19px;
  height: 19px;

  @include tab {
    width: 20px;
    height: 20px;
  }
}

.networks__icon--telegram {
  width: 21px;
  height: 21px;
  transform: translateX(-1px);

  @include tab {
    width: 22px;
    height: 22px;
  }
}

.networks__icon--facebook {
  width: 20px;
  height: 20px;

  @include tab {
    width: 22px;
    height: 22px;
  }
}

.call {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;

  text-align: right;

  @include tab {
    font-size: 14px;
  }

  @include desk {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.call__link {
  color: $brand-color;
  text-decoration: none;
}

.call__link:hover {
  color: #c7133e;
}

.copy-container {
  text-align: center;
  padding: 22px 0 25px 0;
  border-top: 1px solid #e1e1e1;

  @include tab {
    padding: 29px 0 18px 0;
  }
  @include desk {
    padding: 10px 0;
  }
}

.сopyright {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: #907e82;

  @media screen and (max-width: 480px) {
    display: inline-block;
    max-width: 150px;
  }

  @include tab {
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 480px) {
  .copyright__accent {
    display: block;
  }
}
