@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}

img {
  display: block;
}

Contacts
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.gallery__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.gallery__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.02em;
  color: #000000;
}

.contacts__wrap {
  background: #fff5f6;
}

@media screen and (min-width: 1200px) {
  .contacts__wrap {
    background-image: url("../images/contact_img/contact-bg.png");
    min-width: 1200px;
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .contacts__wrap {
    background-image: url("../images/contact_img/contact-bg_x2.png");
  }
}

@media screen and (max-width: 767px) {
  .contacts__wrap {
    position: relative;
  }
}

.contacts__shift {
  padding: 0 35px;
}

@media screen and (max-width: 767px) {
  .contacts__shift {
    position: absolute;
    top: -84px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__shift {
    padding: 0 16px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__shift {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contacts__item {
  min-width: 220px;
  max-width: 380px;
  padding: 43px 20px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .contacts__item {
    margin-top: -78px;
    width: 220px;
    padding: 50px 31px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-top: -102px;
    padding: 51px 43px 62px 43px;
    width: 330px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__title {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .contacts__title {
    font-size: 16px;
  }
}

.contacts__title-wrap {
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .contacts__title-wrap {
    padding: 0 15px;
  }
}

.contacts__title-wrap_fst, .contacts__title-wrap_thrt {
  background-color: #f0d1a5;
  width: 80px;
}

@media screen and (min-width: 768px) {
  .contacts__title-wrap_fst, .contacts__title-wrap_thrt {
    width: 73px;
  }
}

.contacts__title-wrap_scnd {
  background-color: #c2e297;
  width: 130px;
}

@media screen and (min-width: 768px) {
  .contacts__title-wrap_scnd {
    width: 138px;
  }
}

.contacts__place {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

@media screen and (min-width: 768px) {
  .contacts__place {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__place {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__town {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .contacts__town {
    font-size: 14px;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__town {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.contacts__text {
  line-height: 1.5;
  color: #907e82;
}

.contacts__schedule {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

@media screen and (min-width: 768px) {
  .contacts__schedule {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__schedule {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__details {
  padding-top: 25px;
}

@media screen and (min-width: 768px) {
  .contacts__details {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__details {
    padding-top: 32px;
  }
}

.contacts__btn {
  border-radius: 22px;
  height: 44px;
  font-size: 16px;
  line-height: 1.31;
  font-weight: bold;
  border: none;
}

@media screen and (max-width: 767px) {
  .contacts__btn {
    margin-right: 80px;
    margin-left: 80px;
    min-width: 160px;
    max-width: 320px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__btn:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__btn:not(:last-child) {
    margin-right: 15px;
  }
}

.contacts__btn_top {
  background: #d41342;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .contacts__btn_top {
    width: 191px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__btn_top {
    width: 198px;
  }
}

.contacts__btn_bottom {
  color: #d41342;
  background: #ffffff;
}

@media screen and (min-width: 768px) {
  .contacts__btn_bottom {
    width: 174px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__btn_bottom {
    width: 180px;
  }
}

.contacts__btn-box {
  margin-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .contacts__btn-box {
    margin-top: 81px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contacts__img {
  display: inline;
}

.contacts__img_top {
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .contacts__img_top {
    margin-left: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__img_top {
    margin-left: 14px;
  }
}

.contacts__img_bottom {
  margin-left: 13px;
}

@media screen and (min-width: 1200px) {
  .contacts__img_bottom {
    margin-left: 14px;
  }
}

.schedule__days {
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .schedule__days {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .schedule__days {
    font-size: 16px;
  }
}

.schedule__time {
  line-height: 1.86;
  color: #ffa5ba;
}

.schedule__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .schedule__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .schedule__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.details__contact {
  line-height: 1.5;
  color: #907e82;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  background-color: #fff5f6;
}

.footer__title-container {
  max-width: 234px;
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .footer__title-container {
    width: 340px;
  }
}

.footer__title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffa5ba;
}

.footer__accent-title {
  display: block;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #d41443;
  margin-top: 17px;
}

.footer__contacts-container {
  margin-bottom: 43px;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 46px;
}

.networks__item:not(:last-child) {
  margin-right: 28px;
}

.networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #fea5bb;
  border-radius: 50%;
}

.networks__link:hover {
  background-color: #d41443;
}

.networks__icon--github {
  width: 19px;
  height: 19px;
}

.networks__icon--telegram {
  width: 21px;
  height: 21px;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

.networks__icon--facebook {
  width: 20px;
  height: 20px;
}

.call {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
}

.call__link {
  color: #d41443;
  text-decoration: none;
}

.call__link:hover {
  color: #c7133e;
}

.copy-container {
  text-align: center;
  padding: 22px 0 25px 0;
  border-top: 1px solid #e1e1e1;
}

.сopyright {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: #907e82;
}

@media screen and (max-width: 480px) {
  .сopyright {
    display: inline-block;
    max-width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .copyright__accent {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */