@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;


button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}


img {
  display: block;
}


.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {

  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.contacts__wrap {
  background: #fff5f6;
}

.contacts__list-1 {
  margin-top: -84px;
}

.contacts__item {
  min-width: 220px;
  max-width: 380px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 43px 20px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__title {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
}

.contacts__title-wrap {
  padding: 0 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  background-color: #fff5f6;
}

.footer__title-container {
  max-width: 234px;
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .footer__title-container {
    width: 340px;
  }
}

.footer__title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffa5ba;
}

.footer__accent-title {
  display: block;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #d41443;
}

.footer__contacts-container {
  margin-bottom: 43px;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 46px;
}

.networks__item:not(:last-child) {
  margin-right: 28px;
}

.networks__link {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  border-radius: 4px;
  height: 16px;
}

.contacts__title-wrap_fst, .contacts__title-wrap_thrt {
  background-color: #f0d1a5;
  width: 80px;
}

.contacts__title-wrap_scnd {
  background-color: #c2e297;
  width: 130px;
}

.contacts__place {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts__town {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
  letter-spacing: 0.04em;
}

.contacts__text {
  line-height: 1.5;
  color: #907e82;
}

.contacts__schedule {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts__details {
  padding-top: 25px;
}

.contacts__btn:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__btn-box {
  margin-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.schedule__days {
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}

.schedule__time {
  line-height: 186%;
  color: #ffa5ba;
}

.schedule__item:not(:last-child) {
  margin-bottom: 10px;
}

.details__contact {
  line-height: 1.5;
  color: #907e82;

  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #fea5bb;
  border-radius: 50%;
}

.networks__link:hover {
  background-color: #d41443;
}

.networks__icon--github {
  width: 19px;
  height: 19px;
}

.networks__icon--telegram {
  width: 21px;
  height: 21px;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

.networks__icon--facebook {
  width: 20px;
  height: 20px;
}

.call {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
}

.call__link {
  color: #d41443;
  text-decoration: none;
}

.call__link:hover {
  color: #c7133e;
}

.copy-container {
  text-align: center;
  padding: 22px 0 25px 0;
  border-top: 1px solid #e1e1e1;
}

.сopyright {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: #907e82;
}

@media screen and (max-width: 480px) {
  .сopyright {
    display: inline-block;
    max-width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .copyright__accent {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */