/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

@import './utils/mixins';
@import './base/reset';
@import './base/base';
@import './base/common';
@import './utils/hidden';
@import './utils/viriables';

@import './components/container';
@import './components/backdrop';
@import './components/header_modal';

@import './layout/header';
@import './hero';
@import './products';
@import './about';
@import './components/gallery';
@import './customer__reviews';
@import './layout/contacts';
@import './footer';
