@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.hero {
  position: relative;
  width: 100%;
  height: 410px;
  background-color: #ffb8ca;
  background-image: url(../images/tel/hero-tel-1x.png), url(../images/tel/Ellipse-tel1-1x.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, 346px 346px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/tel/hero-tel-2x.png), url(../images/tel/Ellipse-tel1-2x.png);
  }
}

@media screen and (min-width: 320px) {
  .hero {
    padding-left: 20px;
    padding-top: 101px;
    background-position: 70% 0, -85% -15%;
    background-size: auto, 346px 346px;
    margin-left: 0;
  }
}

@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
    padding-left: 20px;
    padding-right: 20px;
    background-position: 50% 75%, 50% -15%;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-size: auto, auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/tab/hero-icecream-tab-1x.png), url(../images/tel/Ellipse-tel1-1x.png);
    padding-top: 102px;
    height: 399px;
    width: 768px;
    padding-left: 34px;
    background-position: 60% 100%, 67% 50%;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/tab/hero-icecream-tab-2x.png), url(../images/tel/Ellipse-tel1-2x.png);
  }
}

.hero__cercle {
  display: inline-block;
  border: #ffffff;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 5px;
  padding-right: 5px;
}

@media screen and (max-width: 767px) {
  .pretitle {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .pretitle {
    font-family: Titan One;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0em;
    color: #d41443;
    position: absolute;
    text-align: left;
    right: 34px;
  }
}

.hero__figures-16 {
  top: 96px;
}

.hero__figures-23 {
  top: 152px;
}

@media screen and (min-width: 768px) {
  .hero_girl-container {
    background-image: url(../images/tab/hero-girl-tab-1x.png);
    background-repeat: no-repeat;
    width: 168px;
    height: 133px;
    position: absolute;
    bottom: 0;
    right: 34px;
  }
}

@media screen and (min-width: 768px) {
  .hero_milk-container {
    background-image: url(../images/tab/hero-milk-tab-1x.png);
    background-repeat: no-repeat;
    width: 168px;
    height: 133px;
    position: absolute;
    bottom: 18px;
    left: 34px;
  }
}

.hero__title-h2 {
  width: 114px;
  height: 48px;
  margin-left: 120px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 150%;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .hero__title-h2 {
    display: none;
  }
}

.hero__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 19px;
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 30px;
  }
}

@media screen and (min-width: 480px) and (min-width: 768px) {
  .hero__title {
    padding-top: 10px;
    font-size: 22px;
    line-height: 1.14;
  }
}

.hero__passion {
  font-family: Titan One;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .hero__passion {
    font-size: 34px;
    line-height: 0.9;
  }
}

.button {
  padding: 9px 15px 9px 15px;
  border-radius: 20px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  border: none;
  margin-bottom: 66px;
}

.hero__container-btn {
  width: 100%;
}

.hero__container-products-btn {
  background-color: #d41443;
  color: #ffffff;
}

.hero__container-him-btn {
  background-color: #ffffff;
  color: #d41443;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

img {
  display: block;
}

Contacts
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.gallery__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.gallery__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.02em;
  color: #000000;
}

.contacts__wrap {
  background: #fff5f6;
}

.contacts__list {
  margin-top: -84px;
}

.contacts__item {
  min-width: 220px;
  max-width: 380px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 43px 20px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__title {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
}

.contacts__title-wrap {
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  height: 16px;
}

.contacts__title-wrap_fst, .contacts__title-wrap_thrt {
  background-color: #f0d1a5;
  width: 80px;
}

.contacts__title-wrap_scnd {
  background-color: #c2e297;
  width: 130px;
}

.contacts__place {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts__town {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
  letter-spacing: 0.04em;
}

.contacts__text {
  line-height: 1.5;
  color: #907e82;
}

.contacts__schedule {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts__details {
  padding-top: 25px;
}

.contacts__btn:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__btn-box {
  margin-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.schedule__days {
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}

.schedule__time {
  line-height: 186%;
  color: #ffa5ba;
}

.schedule__item:not(:last-child) {
  margin-bottom: 10px;
}

.details__contact {
  line-height: 1.5;
  color: #907e82;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  background-color: #fff5f6;
}

.footer__title-container {
  max-width: 234px;
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .footer__title-container {
    width: 340px;
  }
}

.footer__title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffa5ba;
}

.footer__accent-title {
  display: block;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #d41443;
  margin-top: 17px;
}

.footer__contacts-container {
  margin-bottom: 43px;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 46px;
}

.networks__item:not(:last-child) {
  margin-right: 28px;
}

.networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #fea5bb;
  border-radius: 50%;
}

.networks__link:hover {
  background-color: #d41443;
}

.networks__icon--github {
  width: 19px;
  height: 19px;
}

.networks__icon--telegram {
  width: 21px;
  height: 21px;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

.networks__icon--facebook {
  width: 20px;
  height: 20px;
}

.call {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
}

.call__link {
  color: #d41443;
  text-decoration: none;
}

.call__link:hover {
  color: #c7133e;
}

.copy-container {
  text-align: center;
  padding: 22px 0 25px 0;
  border-top: 1px solid #e1e1e1;
}

.сopyright {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: #907e82;
}

@media screen and (max-width: 480px) {
  .сopyright {
    display: inline-block;
    max-width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .copyright__accent {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */