@mixin tel {
  @media screen and (m—ñn-width: 480px) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desk {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
