$brand-color: #d41443;
$body-color: #e5e5e5;
$subtitle-color: #ffb8ca;
$text-color: #ffffff;

$font-family-text: DM Sans, sans-serif;
$font-family-title: Titan One, sans-serif;
// приммер
// hero--title {
// color: $brand-color;
// }
