<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <section>
      <div class="container">
        <p class="about__overtitle">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
      </div>

      <div class="about__main">
        <picture>
          <source
            srcset="./images/desk/about_d_1x.jpg 1x, ./images/desk/about_d_2x.jpg 2x"
            media="(min-width:1200px)"
            type="image/png"
          />
          <img
            src="./images/desk/about_d_1x.jpg"
            alt="корова и кувшин молока "
            width="516"
            height="516"
          />
        </picture>

        <p>
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor.<br />
          Nam vel justo cursus, faucibus lorem eget, egestas eros.<br />
          Maecenas eleifend erat at justo fringilla.
        </p>

        <p>
          Curabitur lacinia enim at ex blandit, vel pellentesque odio<br />
          elementum. Mauris rhoncus orci in imperdiet placerat.<br />
          Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.<br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>

        <button type="button" class="about__button">
          Read more
        <svg class="about__button--svg" width="8" height="8">
          <use href="./images/svg/sprite.svg#icon-circle-right"></use>
        </svg>
      </button>
      </div>
    </section>
  </body>
</html>
