<section class="contacts" id="Contact">
  <div class="container contacts__wrap">
    <div class="contacts__shift">
      <h2 class="visually-hidden">Наши контакты</h2>
      <ul class="list contacts__list">
        <li class="contacts__item">
          <div class="contacts__title-wrap contacts__title-wrap_fst">
            <h3 class="contacts__title ">Cafe</h3>
          </div>

          <div class="contacts__place">
            <h3 class="contacts__town">Chicago</h3>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>

          <ul class="list contacts__schedule schedule">
            <li class="schedule__item">
              <h3 class="schedule__days">Monday - Friday</h3>
              <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <h3 class="schedule__days">Saturday - Sunday</h3>
              <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <ul class="list contacts__details details">
            <li class="details__item">
              <a class="link details__contact" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="details__item">
              <a class="link details__contact" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <div class="contacts__title-wrap contacts__title-wrap_scnd">
            <h3 class="contacts__title">Foodtruck</h3>
          </div>

          <div class="contacts__place">
            <h3 class="contacts__town">Los Angeles</h3>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>

          <ul class="list contacts__schedule schedule">
            <li class="schedule__item">
              <h3 class="schedule__days">Monday - Friday</h3>
              <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <h3 class="schedule__days">Saturday - Sunday</h3>
              <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <ul class="list contacts__details details">
            <li class="details__item">
              <a class="link details__contact" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="details__item">
              <a class="link details__contact" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <div class="contacts__title-wrap contacts__title-wrap_thrt">
            <h3 class="contacts__title">Cafe</h3>
          </div>

          <div class="contacts__place">
            <h3 class="contacts__town">New York</h3>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <ul class="list contacts__schedule schedule">
            <li class="schedule__item">
              <h3 class="schedule__days">Monday - Friday</h3>
              <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <h3 class="schedule__days">Saturday - Sunday</h3>
              <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="list contacts__details details">
            <li class="details__item">
              <a class="link details__contact" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="details__item">
              <a class="link details__contact" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="contacts__btn-box">
        <button class="contacts__btn contacts__btn_top" type="button">Our Locations
          <img class="contacts__img contacts__img_top" src="./images/contact_img/contacts_arrow_top.png" alt="стрела">
        </button>
        <button class="contacts__btn contacts__btn_bottom" type="button">Franchise
          <img class="contacts__img contacts__img_bottom" src="./images/contact_img/contacts_arrow_bottom.png"
            alt="стрела">
        </button>
      </div>

    </div>
  </div>
</section>
