<aside class="slider">
    <div class="slider__container">
        <ul class="slider__list">
            <li class="slider__item">
                <div class="slider__item--box slider__box--first"></div>
                <p class="slider__label">
                    <span class="erste">
                        Nullam viverra
                    </span>
                    <span>
                        consectetuer. Quisque
                    </span>
                    <span>
                        cursus et, porttitor risus.
                    </span>
                    <span>
                        Aliquam sem. In hendrerit
                    </span>
                    <span>
                        nulla quam nunc,
                    </span>
                    <span>
                        accumsan congue. Lorem
                    </span>
                    <span>
                        ipsum primis in nibh vel
                    </span>
                    <span>
                        risus.
                    </span>
                </p>
                <span class="slider__span--quote">
                    &#8221;
                </span>
                <h3 class="slider__title">
                    Emily, Los Angeles
                </h3>
                <span class="slider__span--points">
                    &hellip;
                </span>
            </li>
            <li class="slider__item">
                <div class="slider__item--box slider__box--second"></div>
                <p class="slider__label">
                    <span class="erste">
                        Nullam viverra
                    </span>
                    <span>
                        consectetuer. Quisque
                    </span>
                    <span>
                        cursus et, porttitor risus.
                    </span>
                    <span>
                        Aliquam sem. In hendrerit
                    </span>
                    <span>
                        nulla quam nunc,
                    </span>
                    <span>
                        accumsan congue. Lorem
                    </span>
                    <span>
                        ipsum primis in nibh vel
                    </span>
                    <span>
                        risus.
                    </span>
                </p>
                <span class="slider__span--quote">
                    &#8221;
                </span>
                <h3 class="slider__title">
                    Barbara, Dubai
                </h3>
                <span class="slider__span--points">
                    &hellip;
                </span>
            </li>
            <li class="slider__item">
                <div class="slider__item--box slider__box--third"></div> 
                <p class="slider__label">
                    <span class="erste">
                        Nullam viverra
                    </span>
                    <span>
                        consectetuer. Quisque
                    </span>
                    <span>
                        cursus et, porttitor risus.
                    </span>
                    <span>
                        Aliquam sem. In hendrerit
                    </span>
                    <span>
                        nulla quam nunc,
                    </span>
                    <span>
                        accumsan congue. Lorem
                    </span>
                    <span>
                        ipsum primis in nibh vel
                    </span>
                    <span>
                        risus.
                    </span>
                </p>
                <span class="slider__span--quote">
                    &#8221;
                </span>
                <h3 class="slider__title">
                    Laura Palmer ,Twin Peaks
                </h3>
                <span class="slider__span--points">
                    &hellip;
                </span>
            </li>
        </ul>
    </div>
</aside>