
    <aside class="slider__section">
        <div class="slider__container swiper mySwiper">
            <ul class="slider slider__list swiper-wrapper">
                <li class="slider__item slider__item--first swiper-slide">
                    <div class="slider__item--box slider__box--first"></div>
                    <div class="slider__box--label">
                        <p class="slider__label">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit <span class="slider__span--first">nulla
                        quam nunc, accumsan congue. <span class="slider__span--second">Lorem ipsum primis in nibh vel risus.</span></span>
                    </p>
                    </div>
                    <h3 class="slider__title">
                        Emily, Los Angeles
                    </h3>
                </li>
                <li class="slider__item slider__item--second swiper-slide">
                    <div class="slider__item--box slider__box--second"></div>
                    <div class="slider__box--label">
                        <p class="slider__label">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit <span class="slider__span--first">nulla
                        quam nunc, accumsan congue. <span class="slider__span--second">Lorem ipsum primis in nibh vel risus.</span></span>
                    </p>
                    </div>
                    <h3 class="slider__title">
                        Barbara, Dubai
                    </h3>
                </li>
                <li class="slider__item lider__item--third  swiper-slide">
                    <div class="slider__item--box slider__box--third"></div>
                    <div class="slider__box--label">
                        <p class="slider__label">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit <span class="slider__span--first">nulla
                        quam nunc, accumsan congue. <span class="slider__span--second">Lorem ipsum primis in nibh vel risus.</span></span>
                    </p>
                    </div>
                    <h3 class="slider__title">
                        Laura Palmer, Twin Peaks
                    </h3>
                </li>
            </ul>
            <ul class="slider__list--btn swiper-pagination">
            </ul>
        </div>
    </aside>
