<section>
  <ul class="gallery">
    <li class="gallery__list">
      <svg>
        <use href="../images/svg/icon1.svg"></use>
      </svg>
      <h2 class="gallery__title">721</h2>
      <p class="gallery__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="gallery__list">
      <svg>
        <use href="../images/svg/icon2.svg"></use>
      </svg>
      <h2 class="gallery__title">16kg</h2>
      <p class="gallery__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="gallery__list">
      <svg>
        <use href="../images/svg/icon3.svg"></use>
      </svg>
      <h2 class="gallery__title">84</h2>
      <p class="gallery__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</section>