<section>
  <ul class="gallery">
    <li class="gallery__list">
      <svg width="33" height="50">
        <use href="./images/svg/icon1.svg#image0_1_228"></use>
      </svg>
      <h2 class="gallery__title">721</h2>
      <p class="gallery__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="gallery__list">
      <svg width="50" height="50">
        <use href="./images/svg/icon2.svg#image0_5_345"></use>
      </svg>
      <h2 class="gallery__title">16kg</h2>
      <p class="gallery__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="gallery__list">
      <svg width="44" height="50">
        <use href="./images/svg/icon3.svg#image0_1_227"></use>
      </svg>
      <h2 class="gallery__title">84</h2>
      <p class="gallery__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</section>