<section>
  <ul class="gallery">
    <li class="gallery__list">
      <svg class="gallery__icon" width="33px" height="50px">
        <use href=""></use>
      </svg>
      <h2 class="gallery__title">721</h2>
      <p class="gallery__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="gallery__list">
      <svg class="gallery__icon"  width="50px" height="50px">
        <use href=""></use>
      </svg>
      <h2 class="gallery__title">16kg</h2>
      <p class="gallery__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="gallery__list">
      <svg class="gallery__icon"  width="44px" height="50px">
        <use href=""></use>
      </svg>
      <h2 class="gallery__title">84</h2>
      <p class="gallery__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</section>