    <header class="header">
        <div class="container">
            <!-- =============================== Будет таб и моб меню, пока скрыто ================================= -->
            <button hidden class="header-menu__burger-batton" type="button">
                <svg width=12px height=20px aria-label="Кнопка мобильного меню">
                    <use class="header-menu__icon-menu" href="#"></use>
                    <use class="header-menu__icon-cross" href="#"></use>
                </svg>
            </button>
            <div hidden class="header-menu__container" id="header-menu__container" data-menu>
                <button class="header-menu__buy-button" type="button">Buy now
                    <svg class="header-menu__buy-button-icon" width=4px height=8px>
                        <use href="#"></use>
                    </svg>
                </button>
                <ul class="header-menu__boxes">
                    <li class="header-menu__item"><a href="header-hero.html" class="header-menu__link header-menu__link--activ">Home</a></li>
                    <li class="header-menu__item"><a href="#" class="header-menu__link">About us</a></li>
                    <li class="header--menu__item"><a href="#" class="header-menu__link">How it’s made?</a></li>
                    <li class="header-menu__item"><a href="#" class="header-menu__link">Our products</a></li>
                    <li class="header-menu__item"><a href="#" class="header-menu__link">Contact</a></li>
                </ul>
            </div>
            <!-- =============================== Header deck =============================== -->
            <nav class="header-navbar">
                <a href="header-hero.html" class="header-navbar__logo">
                    <picture>
                        <source srcset="./images/tel/logo-tel-1x.png 1x, ./images/tel/logo-tel-2x.png 2x" media="(min-width: 320px)" />
                        <img class="logo" src="./images/tel/logo-tel-1x.png" alt="Icecream" />
                    </picture>
                </a>
                <ul class="header-navbar__boxes">
                    <li class="header-navbar__item"><a href="header-hero.html" class="header-navbar__link header-navbar__link--activ">Home</a></li>
                    <li class="header-navbar__item"><a href="#" class="header-navbar__link">About us</a></li>
                    <li class="header-navbar__item"><a href="#" class="header-navbar__link">How it’s made?</a></li>
                    <li class="header-navbar__item"><a href="#" class="header-navbar__link">Our products</a></li>
                    <li class="header-navbar__item"><a href="#" class="header-navbar__link">Contact</a></li>
                </ul>
            </nav>
            <button class="header-navbar__buy-button" type="button">Buy now
                <svg class="header-navbar__buy-button-icon" width=4px height=8px>
                    <use href="#"></use>
                </svg>
            </button>  
        </div>
    </header>
    
