<header class="header">
    <div class="header-container">
            <!-- =============================== Header mob menu ================================= -->
            <div class="header-menu__burger-batton" aria-label="Кнопка мобильного меню" data-hmenu-button>
                <svg class="header-menu__battons" width=20px height=12px >
                    <use class="header-menu__icon-menu" href="./images/svg/spred-menu-buttons.svg#icon-burger"></use>
                    <use class="header-menu__icon-cross" href="./images/svg/spred-menu-buttons.svg#icon-close"></use>
                </svg>
            </div>
            <div class="header-menu__container" id="header-menu__container" data-hmenu>
                <button class="header-menu__buy-button" type="button" data-hmodal-open>Buy now
                    <img class="header-menu__buy-button-arrow" src="./images/contact_img/contacts_arrow_bottom.png" alt="Стрелка">
                </button>
                <ul class="header-menu__boxes">
                    <li class="header-menu__item"><a href="#Home" class="header-menu__link">Home</a>
                    </li>
                    <li class="header-menu__item"><a href="#About" class="header-menu__link">About us</a></li>
                    <li class="header-menu__item"><a href="#How" class="header-menu__link">How it’s made?</a></li>
                    <li class="header-menu__item"><a href="#Products" class="header-menu__link">Our products</a></li>
                    <li class="header-menu__item"><a href="#Contact" class="header-menu__link">Contact</a></li>
                </ul>
            </div>
        
        <!-- =============================== Header =============================== -->
        <div class="header-navbar-container">
            <nav class="header-navbar">
                <a href="/" class="header-navbar__logo">
                    <picture class="header-navbar__logo-img">
                        <source srcset="./images/tel/logo-tel-1x.png 1x, ./images/tel/logo-tel-2x.png 2x"
                            media="(min-width: 320px)" />
                        <img class="logo" src="./images/tel/logo-tel-1x.png" alt="Icecream" />
                    </picture>
                </a>
                <ul class="header-navbar__boxes">
                    <li class="header-navbar__item"><a href="#Home" class="header-navbar__link">Home</a></li>
                    <li class="header-navbar__item"><a href="#About" class="header-navbar__link">About us</a></li>
                    <li class="header-navbar__item"><a href="#How" class="header-navbar__link">How it’s made?</a></li>
                    <li class="header-navbar__item"><a href="#Products" class="header-navbar__link">Our products</a></li>
                    <li class="header-navbar__item"><a href="#Contact" class="header-navbar__link">Contact</a></li>
                </ul>
            </nav>
            <button class="header-navbar__buy-button" type="button" data-hmodal-open2>Buy now
                <img class="header-navbar__buy-button-arrow" src="./images/contact_img/contacts_arrow_bottom.png" alt="Стрелка">
            </button>
        </div>
    </div>
</header>