<section class="hero">
  <div class="hero__container ">
      <div class="hero__icecream-container-320 animate__animated  animate__bounceInDown"></div>
      <div class="hero__icecream-container-480 animate__animated  animate__bounceInDown"></div>
      <div class="hero__icecream-container-768 animate__animated  animate__bounceInDown"></div>
      <div class="hero__icecream-container-1280 animate__animated  animate__bounceInDown"></div>
      <div class="hero__arrow-container ">
         <a href="#" class="hero__arrow">
              <svg class="hero__arrow-icon" >
                    <use href="./images/tab/arrow.svg" />
                </svg>
         </a>
     </div>
        <div class="hero_title-container animate__animated animate__bounceInLeft">
           <h1 class="hero__title">
        ice cream <br />made with<br />
        <span class="hero__passion">passion</span>
      </h1>
      <div class="hero__container-btn">
        <button type="button" aria-label="Products" class="hero__container-products-btn button">
          Products <a href="#products"></a>
        </button>
        <button type="button" aria-label="How it’s made?" class="hero__container-him-btn button">
          How it’s made?
          <a href="#how it’s made?"></a>
        </button>
      </div> 
    </div>
      <div class="hero__lorem-container animate__animated animate__bounceInUp">
        <p class="hero__title-h2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </div>
    <div class="hero__figures animate__animated animate__bounceInRight">
      <div class="hero__figures-16 pretitle">
        16<span class="hero__cercle"> </span>
        <p class="hero__figures-text">cafes</p>
      </div>
      <div class="hero__figures-23 pretitle">
        23<span class="hero__cercle"></span>
        <p class="hero__figures-text">food trucks</p>
      </div>
    </div>
    <div class="hero_girl-container animate__animated animate__bounceInRight"></div>
    <div class="hero_milk-container animate__animated animate__bounceInLeft"></div>
    <!-- <div class="hero_figures-container"></div> -->
            </div>
     
<!-- </div> -->


</section>
