<section class="hero container">
  <div class="hero__container">
    <h1 class="hero__title">
      ice cream <br />made with<br />
      <span class="hero__passion">passion</span>
    </h1>
    <div class="hero__container-btn">
      <button type="button" aria-label="Products" class="hero__container-products-btn button">
        Products <a href="#products"></a>
      </button>
      <button type="button" aria-label="How it’s made?" class="hero__container-him-btn button">
        How it’s made?
        <a href="#how it’s made?"></a>
      </button>
    </div>
    <h2 class="hero__title-h2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </h2>
    <p class="hero__figures-16 pretitle">16<span class="hero__cercle"> </span></p>

    <p class="hero__figures-23 pretitle">23<span class="hero__cercle"></span></p>
    <div class="hero_girl-container"></div>
    <div class="hero_milk-container"></div>
    <div class="hero_figures-container"></div>
  </div>
</section>
