<section class="product-section">
  <div class="poduct-container">
    <label class="product-section-title" for="product-subtitle" id="Products">100% natural</label>
    <h2 for="product-subtitle" class="product-subtitle">products</h2>
    <ul class="product__list">
      <li class="product__item product-card1 animate__animated animate__lightSpeedInRight">
        <h3 class="product__title">ice cream</h3>
        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button data-modal-open1 type="button" class="product__btn">
          <img src="./images/png/arrow-right.png" alt="button" />
        </button>
      </li>
      <li class="product__item product-card2 animate__animated animate__fadeInDown">
        <h3 class="product__title product-card2">ice coffee</h3>
        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button data-modal-open2 type="button" class="product__btn">
          <img src="./images/png/arrow-right.png" alt="button" />
        </button>
      </li>
      <li class="product__item product-card3 animate__animated animate__lightSpeedInLeft">
        <h3 class="product__title product-card3">milkshakes</h3>
        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button data-modal-open3 type="button" class="product__btn">
          <img class="product__img" src="./images/png/arrow-right.png" alt="button" />
        </button>
      </li>
    </ul>
  </div>

  <div class="product-backdrop backdrop--is-hidden" data-modal1>
    <div class="product-modal">
      <button class="product-modal__btn-close" type="button" data-modal-close1>
        <svg width="18px" height="18px">
          <use href="./images/svg/icons-header-modal.svg#icon-close-black"></use>
        </svg>
      </button>
      <h2 class="product-modal__title">the best product</h2>
      <p class="product-modal__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat neque perspiciatis
        molestias ex porro in distinctio, sint aliquid iusto? Quos velit quis earum reprehenderit id
        iure, nihil voluptatem? Maxime, quia?
      </p>
    </div>
  </div>
  <div class="product-backdrop2 backdrop--is-hidden" data-modal2>
    <div class="product-modal2">
      <button class="product-modal__btn-close" type="button" data-modal-close2>
        <svg width="18px" height="18px">
          <use href="./images/svg/icons-header-modal.svg#icon-close-black"></use>
        </svg>
      </button>
      <h2 class="product-modal__title">the best product</h2>
      <p class="product-modal__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat neque perspiciatis
        molestias ex porro in distinctio, sint aliquid iusto? Quos velit quis earum reprehenderit id
        iure, nihil voluptatem? Maxime, quia?
      </p>
    </div>
  </div>
  <div class="product-backdrop3 backdrop--is-hidden" data-modal3>
    <div class="product-modal3">
      <button class="product-modal__btn-close" type="button" data-modal-close3>
        <svg width="18px" height="18px">
          <use href="./images/svg/icons-header-modal.svg#icon-close-black"></use>
        </svg>
      </button>
      <h2 class="product-modal__title">the best product</h2>
      <p class="product-modal__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat neque perspiciatis
        molestias ex porro in distinctio, sint aliquid iusto? Quos velit quis earum reprehenderit id
        iure, nihil voluptatem? Maxime, quia?
      </p>
    </div>
  </div>
</section>