<section>
  <h1 class="section-title">100% natural</h1>
  <h2 class="subtitle">products</h2>
  <ul class="product-list">
    <li class="product-item">
      <h3 class="product-title">ice cream</h3>
      <p class="product-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
    </li>
    <li class="product-item">
      <h3 class="product-title">ice cream</h3>
      <p class="product-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
    </li>
    <li class="product-item">
      <h3 class="product-title">ice cream</h3>
      <p class="product-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
    </li>
  </ul>
</section>
