.container__about {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff5f6;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section__about {
  text-align: center;

  // background-image: url(../images/desk/sectionbg1-desk-1x.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  // max-width: 100%;
}

.about__main {
  // display: flex;
  // align-items: center;
}

.about__label {
  color: #ffa5ba;
  font-family: 'Titan One';
  font-style: normal;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  width: 198px;
  height: 21px;
  // font-weight: 400;
  // font-size: 30px;
  // line-height: 34px;
  // text-align: center;
  // letter-spacing: 0.04em;
  // text-transform: uppercase;
}

.about__name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  display: inline-block;
  color: #d41443;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  height: 76px;
  margin: 15px 0 26px 0;

  // line-height: 66px;
  // text-align: center;
  // letter-spacing: 0.06em;
}

.about__picture {
  margin-left: auto;
  margin-right: auto;
}

.composition {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  text-align: left;
  margin: 46px 50px 47px 50px;

  // font-size: 16px;
  // line-height: 176%;
  // letter-spacing: 0.04em;
  // color: #000000;
  // margin-left: 74px;
}

.cooking {
  color: #907e82;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  text-align: left;
  margin: 0 50px 47px 50px;

  // font-size: 14px;
  // line-height: 194%;
  // letter-spacing: 0.04em;
  // color: #907e82;
  // margin-left: 74px;
  // margin-top: 35px;
  // margin-bottom: 45px;
}

.about__button {
  display: block;
  font-family: 'DM Sans';
  height: 44px;
  width: 176px;
  background-color: #fff;
  color: #d41443;
  cursor: pointer;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  margin-left: 50px;
  // margin-left: 75px;
}
