.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    width: 100%;
    min-width: 320px;
    max-width: 480px;
  }
  @include tab {
    width: 768px;
  }
  @include desk {
    width: 1280px;
  }
}
