.gallery-section {
  background-color: #fff5f6;
}


.container-gallery {
  width: 100%;
  // padding-left: 15px;
  // padding-right: 15px;

  margin: 0 auto;
  @media screen and (min-width: 320px) {
    // padding-left: 15px;
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1200px;
  }
}
.gallery {
  @media screen and (min-width: 320px) {
    margin-left: 20px;
    margin-right: 200px;
    margin-bottom: 59px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: -24px;
    margin-right: 76px;
    margin-bottom: 140px;
  }
  @media screen and (min-width: 1280) {
    display: flex;
  }
}

.gallery__icon {
  @media screen and (min-width: 320px) {
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 40px;
  }
}

.gallery__list {
  align-items: left;
  padding-bottom: 38px;
  list-style-type: none;
  width: 100%;
  @media screen and (min-width: 768px) {
    margin-left: 60px;
    flex-basis: calc(100% / 3 - 60px);
  }
  @media screen and (min-width: 1280px) {
    margin-left: 60px;

    flex-basis: calc(100% / 3 - 60px);
  }
}

.gallery__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.14;

  text-align: left;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  padding-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
  }
}

.gallery__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
  }
}

.gallery-banner {
  @media screen and (min-width: 320px) {
    margin-bottom: 80px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 120px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 125px;
  }
}
