.gallery {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1280) {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
}

.gallery__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.02em;
  color: #000000;
}
