.contacts {
  background: #fff5f6;
  padding-bottom: 113px;
  @include tab {
    padding-bottom: 165px;
  }
  @include desk {
    background-image: url('../images/contact_img/contact-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/contact_img/contact-bg_x2.png');
    }
  }
  &__shift {
    @media screen and (max-width: 767px) {
      margin-top: -84px;
    }
  }
  &__list {
    @include tab {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__item {
    min-width: 220px;
    max-width: 380px;
    width: 100%;
    padding: 43px 20px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    background-color: white;
    @include tab {
      margin-top: -78px;
      flex-basis: calc((768px - (36px * 2) - (20px * 2)) / 3);
      padding: 50px 31px;
    }
    @include desk {
      margin-top: -102px;
      padding: 51px 43px 62px 43px;
      flex-basis: calc((1280px - (115px * 2) - (30px * 2)) / 3);
    }
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }
      @include tab {
        margin-right: 20px;
      }
      @include desk {
        margin-right: 30px;
      }
    }
  }
  &__title {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    @include tab {
      font-size: 16px;
    }
    &-wrap {
      padding: 0 25px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      height: 16px;
      @include tab {
        padding: 0 15px;
      }
      &_fst,
      &_thrt {
        background-color: #f0d1a5;
        width: 80px;
        @include tab {
          width: 73px;
        }
      }
      &_scnd {
        background-color: #c2e297;
        width: 130px;
        @include tab {
          width: 138px;
        }
      }
    }
  }
  &__place {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
    @include tab {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @include desk {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  &__town {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.86;
    color: #000000;
    letter-spacing: 0.04em;
    @include tab {
      font-size: 14px;
      margin-bottom: 14px;
    }
    @include desk {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  &__text {
    line-height: 1.5;
    color: #907e82;
  }
  &__schedule {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
    @include tab {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @include desk {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  &__details {
    padding-top: 25px;
    @include tab {
      padding-top: 30px;
    }
    @include desk {
      padding-top: 32px;
    }
  }
  &__btn {
    border-radius: 22px;
    height: 44px;
    font-size: 16px;
    line-height: 1.31;
    font-weight: bold;
    border: none;
    @media screen and (max-width: 767px) {
      margin-right: 80px;
      margin-left: 80px;
      min-width: 160px;
      max-width: 320px;
    }
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 10px;
      }
    }
    @include tab {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    &_top {
      background: #d41342;
      color: #ffffff;
      @include tab {
        width: 191px;
      }
      @include desk {
        width: 198px;
      }
    }
    &_bottom {
      color: #d41342;
      background: #ffffff;
      @include tab {
        width: 174px;
      }
      @include desk {
        width: 180px;
      }
    }
    &-box {
      margin-top: 54px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include tab {
        margin-top: 81px;
        flex-direction: row;
      }
    }
  }
  &__img {
    display: inline;
    &_top {
      margin-left: 8px;
      @include tab {
        margin-left: 13px;
      }
      @include desk {
        margin-left: 14px;
      }
    }
    &_bottom {
      margin-left: 13px;
      @include desk {
        margin-left: 14px;
      }
    }
  }
}
.schedule {
  &__days {
    font-size: 12px;
    line-height: 1.86;
    color: #000000;
    @include tab {
      font-size: 14px;
    }
    @include desk {
      font-size: 16px;
    }
  }
  &__time {
    line-height: 1.86;
    color: #ffa5ba;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
      @include tab {
        margin-bottom: 16px;
      }
      @include desk {
        margin-bottom: 15px;
      }
    }
  }
}
.details {
  &__contact {
    line-height: 1.5;
    color: #907e82;
  }
}
.location {
  background: #fff5f6;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 5px solid #d41342;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition-property: transform babackground;
  transition-duration: 500ms;
  transition-delay: 250ms;
  &_size {
    @media screen and (max-width: 767px) {
      width: 100%;
      min-width: 320px;
      max-width: 480px;
    }
    @include tab {
      width: 700px;
    }
    @include desk {
      width: 1000px;
    }
  }
  .backdrop.is-hidden & {
    transform: translate(-50%, -250%) scale(0.3) rotate(90deg);
  }
  &__btn {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d41342;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
  }
  &__close {
    width: 10px;
  }
  &__img {
    object-fit: contain;
  }
}
.franchise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff5f6;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 5px solid #d41342;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 50px 35px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition-property: transform babackground;
  transition-duration: 500ms;
  transition-delay: 250ms;

  max-height: 100vh;
  &_size {
    @media screen and (max-width: 767px) {
      width: 100%;
      min-width: 320px;
      max-width: 480px;
    }
    @include tab {
      width: 700px;
    }
    @include desk {
      width: 1000px;
    }
  }
  .backdrop.is-hidden & {
    transform: translate(-50%, -250%) scale(0.3) rotate(90deg);
  }
  &__btn {
    background-color: transparent;
    border: 5px solid #d41342;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__close {
    width: 10px;
  }
  &__title {
    @include mobile__title--h2;
  }
  &__pre-title {
    @include mobile__title--h3;
  }
  &__box_bottom {
    border: 5px solid #d41342;
    padding: 25px;
    border-radius: 20px;
  }
  &__text {
    line-height: 1.5;
    color: #907e82;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.franchise-form {
  margin-top: 10px;
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #d41342;
    padding: 25px;
    border-radius: 20px;
    @media screen and (max-width: 767px) {
      width: 100%;
      min-width: 230px;
      max-width: 400px;
    }
    @include tab {
      width: 600px;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__name {
    font-size: 12px;
    line-height: 1.86;
    color: #000000;
    letter-spacing: 0.04em;
    margin-bottom: 5px;
    @include tab {
      font-size: 14px;
    }
    @include desk {
      font-size: 16px;
    }
  }
  &__input {
    border: 2px solid #d41342;
    height: 40px;
    width: 100%;
    min-width: 180px;
    max-width: 340px;
    border-radius: 20px;
    line-height: 1.5;
    color: #907e82;
    padding: 3px 15px;
    @include tab {
      width: 450px;
    }
    @include desk {
      width: 550px;
    }
  }
  &__btn {
    border-radius: 22px;
    height: 44px;
    font-size: 20px;
    line-height: 1.31;
    font-weight: 900;
    border: 5px solid #d41342;
    color: #d41342;
    background: #ffffff;
    width: 200px;
    @include tab {
      width: 250px;
      line-height: 1.5;
    }
    @include desk {
      width: 300px;
      line-height: 1.8;
    }
  }
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  .franchise__box_bottom {
    display: none;
  }
  .franchise__title {
    margin-bottom: 20px;
  }
}
